body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background-color: rgba(6,18,42,255);
  color: aliceblue;

}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}
  
.head{
  position: relative;
  width: fit-content;
  margin: auto;
}
  
.head img{
  width: 100%;
  height: auto;
  display: block;
}
  
.headtext{
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateX(11%);
    text-align: center;
    color: black;
 }

 .mainbody{
  display: grid;
  grid-template-columns: 
  1fr 1fr;
  margin: 35px;
 }
  
  
.content {
  padding: 20px;
  border-radius: 16px;
  width: 500px;
  height: auto;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(244, 233, 233, 0.3);
}

.content:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease;
}


  
  .book{
   width: 550px;
   height: 300px;
   object-fit: cover;
   object-position: center;
   border-radius: 8px;
  
  } 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .foot{
      display: flex;
    } 
    .change-role-btn{
       padding: 30px 10px;
       margin: 50px;
       margin-right: 0;
       margin-bottom: 8px;
       font-size: 15px;
        background: #4d4c4c; 
        box-shadow: 5px 5px 5px black;
        opacity: 0.80;
        color: white;
        border: none; 
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
    } 
     .change-role-btn:hover{
      background-color: rgb(103, 102, 102);
     }
   

