  body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .foot{
      display: flex;
    } 
    .change-role-btn{
       padding: 30px 10px;
       margin: 50px;
       margin-right: 0;
       margin-bottom: 8px;
       font-size: 15px;
        background: #4d4c4c; 
        box-shadow: 5px 5px 5px black;
        opacity: 0.80;
        color: white;
        border: none; 
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
    } 
     .change-role-btn:hover{
      background-color: black;
     }
    .foot img{
      height: 100px;
      align-self: flex-end;
    }
    

